* {
  box-sizing: border-box;
  margin: 0;
}
.main-content {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
header {
  background-color: rgb(92, 168, 254);
  width: 100%;
  margin-bottom: 10px;
  position: fixed;
  z-index: 10000;
}
h1 {
  text-align: center;
  color: azure;
  padding: 5px;
}
.card {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  max-width: 50%;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 2rem;
}
.card__heading {
  text-align: center;
  padding: 2rem;
}

.card__answer {
  border: 2px solid rgb(21, 21, 95);
  border-radius: 20px;
  background-color: rgba(45, 45, 176, 0.678);
  color: white;
  margin: auto;
  padding: 1rem;
}
.card__tags {
  display: flex;
  list-style: none;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 10px;
}
.tags__list {
  background-color: cornflowerblue;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 5px;
}
.footer {
  position: fixed;
  background-color: rgb(92, 168, 254);
  width: 100%;
  padding: 10px;
  bottom: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
}
.nav__redirect {
  color: azure;
}
.bookmark {
  margin: auto;
}